In [1]:
# examine the students that have perfect fit at fit_rank 1

import pandas as pd
import numpy as np

In [2]:
X = pd.read_csv('../Heatmaps/RCS_compiled.csv')
X.drop("Unnamed: 0", axis=1,inplace=True)
print(len(X))
r1_df, r2_df, r3_df = X[X.fit_rank == 1], X[X.fit_rank == 2], X[X.fit_rank == 3]

27927

In [3]:
p1_df = r1_df[r1_df.aptitude_fit == r1_df.interest_fit]
p2_df = r2_df[r2_df.aptitude_fit == r2_df.interest_fit]
p3_df = r3_df[r3_df.aptitude_fit == r3_df.interest_fit]
l1, l2, l3 = p1_df.id, p2_df.id, p3_df.id

In [4]:
for id in l1:
    X = X[X.id != id]
print(len(X))
for id in l2:
    X = X[X.id != id]
print(len(X))
for id in l3:
    X = X[X.id != id]
print(len(X))

23880
22455
20211

In [8]:
print(f'Students that have a perfect matching at any fit_rank: {int((27927-20211)/3)} of {int(27927/3)}')

Students that have a perfect matching at any fit_rank: 2572 of 9309

In [14]:
X.loc[X.id == 409512]

,id,organization,last_name,first_name,email,phone,gender,ethnicity,grad_year,aptitude_fit,interest_fit,fit_rank
0,409512,Rocky Fork Middle School,Cardoso,Sofia,scardosoperez8225@student.rcschools.net-moved-...,615-900-7342,f,other,2023.0,Agriculture & Natural Resources,Human Services,3
1,409512,Rocky Fork Middle School,Cardoso,Sofia,scardosoperez8225@student.rcschools.net-moved-...,615-900-7342,f,other,2023.0,Finance,Arts & Media,2
2,409512,Rocky Fork Middle School,Cardoso,Sofia,scardosoperez8225@student.rcschools.net-moved-...,615-900-7342,f,other,2023.0,Engineering,Teaching,1